@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
    scroll-padding-top: 60px;
    scroll-behavior: smooth;
    color: #c4c4c4;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-image: linear-gradient(45deg,#000000aa, #000000aa), url(images/office.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    z-index: 99;
}

nav {
    display: flex;
}

@media (max-width: 750px){
    header {
        flex-direction: column;
        height: fit-content;
        position: absolute;
    }
    nav {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .links {
        width: 100%;
    }
    header > a {
        border-bottom: 1px solid #353535;
    }

}

.links {
    text-decoration: none;
    color: #c4c4c4;
    padding: 15px;
    font-size: 1.5rem;
    background-color: #202020;
}

.links:hover {
    background-color: #161616;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 4rem;
    margin: 0px;
    text-shadow: 0px 0px 30px #b3b3b3;

}

#intro {
    padding: 300px;
}

#intro > p {
    font-style: italic;
    text-align: center;
    margin: 0px;
    text-shadow: 0px 0px 30px #b3b3b3;
}

#projects {
    display: flex;
    flex-direction: column;
    background-color: #aaaaaa;
    width: 100%;
    justify-content: center;
    align-items: center;
}


#projects > h2 {
    font-size: 3rem;
    text-shadow: 3px 3px 15px #202020;
    color: #353535;
    margin: 100px;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0;
    margin: 0;
}

@media (max-width: 1300px) {
    #grid-container {
        max-width: 80%;
    }
}

@media (max-width: 1000px) {
    #grid-container {
        max-width: 80%;
    }
}


.project-tile {    
    text-decoration: none;
    color: #c4c4c4;
    font-size: 1.5rem;
    text-align: center;
    background-color: #353535;
    border-radius: 5px;
    margin: 25px;
    box-shadow: 3px 3px 10px #000000;
}

.ghost-text {
    padding: 5px;
    color: #353535;
    transition: color 0.3s ease-out;
}

.project-tile:hover .ghost-text {
    color: #ff4500;
}

.project-tile:hover {
    transform: scale(1.01);
}

.img {
    width: 100%;
    object-fit: cover;
}

#all-button {
    width: 200px;
    height: 30px;
    justify-self: center;
    align-self: center;
    text-align: center;
    margin: 75px;
}

#all-button > #shift {
    position: relative;
    left: 5px;
    transition: color 0.3s ease-out;
}
#all-button:hover > #shift {
    color: #ff4500;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding-top: 30px;
    background-color: #353535;
}

#contact > h2 {
    font-size: 2rem;
    padding: 0px;
    text-shadow: 3px 3px 15px #000000;

}

#contact > p {
    font-style: italic;
    padding: 0px;
    color: #ff5656;
    text-shadow: 3px 3px 5px #000000;
}

#contact-links {
    padding: 50px;
}

.logo {
    height: 50px;
    padding: 30px;
}

.logo:hover {
    transform: scale(1.1);
}

footer {
    background-color: #202020;
    width: 100%;
    border-top: 2px solid #ff5656;
    font-style: italic;
}